In [ ]:
!pwd

In [482]:
import pandas as pd
import numpy as np

In [483]:
Market = pd.read_csv('/Users/shkhader/DataScience/DataScience/NoorDheen/Pre-Processing-2 Bank-Data/Market/market.csv')

# How many columns are avaialble and identify the key columns which becomes feature for increase the bigmart sales

In [484]:
Market.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

## store Level Analysis 

### Which location more sales using Outlet location type
### not avaialbe : POpulation density coliumn 
### Store Capacity :  --> Outlet size
### Competitions not avaialble --> Stores having similar establishments nearby should have less sales because of more competition.
### Marketing. : Not avaialble 
### Location :  Stored  
### Customer Behaiviour :  stored which understanding the customers behaviours 
### Ambiace : Ambiance is one of the key features due to current pandemic . this feature become  
### how many runnng people vs constant people avaialble

#### Product Level Analysis
### Brand: Branded products should have higher sales because of higher trust in the customer.
### Packaging: Products with good packaging can attract customers and sell more.
### Utility: Daily use products should have a higher tendency to sell as compared to the specific use products.
### Display Area: Products which are given bigger shelves in the store are likely to catch attention first and sell more.
### Visibility in Store: The location of product in a store will impact sales. Ones which are right at entrance will catch the eye of customer first rather than the ones in back.
### Advertising: Better advertising of products in the store will should higher sales in most cases.
### Promotional Offers: Products accompanied with attractive offers and discounts will sell more.

#### Data Exploration

#### How many hypohtesized  found - 16

#### how many of them avaialble in   data set  -6

#### how many of them not avaialble in data set  - 10

#### how many of them not a hypothesized feature which is available in data set. -3

In [485]:
Market.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

### One of the key challenges in any data set is missing values. Lets start by checking which columns contain missing values.

# Checking the missing values:

In [486]:
Market.apply(lambda x: sum(x.isnull()))

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# Statistics analysis on numerical variables.

In [487]:
Market.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

###### Some Observation from the above statistical views


###### Item_Visibility has a min value of zero. This makes no practical sense because when a product is being sold in a store, the visibility cannot be 0.
###### Outlet_Establishment_Years vary from 1985 to 2009. The values might not be apt in this form. Rather, if we can convert them to how old the particular store is, it should have a better impact on sales.
###### The lower ‘count’ of Item_Weight and Item_Outlet_Sales confirms the findings from the missing value check.

# Checking the Unique Values 
## Number of unique values in each item

In [488]:
Market.apply(lambda x: len(x.unique()))

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

#  Filter categorical variables

In [489]:
categorical_columns = [x for x in Market.dtypes.index if Market.dtypes[x]=='object']

In [490]:
categorical_columns

['Item_Identifier',
 'Item_Fat_Content',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

##### ID columns not meant  to business  so that excluding the ID Columns for analysis

In [491]:
categorical_columns = [x for x in categorical_columns if x not in ['Item_Identifier','Outlet_Identifier','source']]

In [492]:
categorical_columns

['Item_Fat_Content',
 'Item_Type',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

# Print the freqency for Catagories

In [493]:
for col in categorical_columns:
    print('\nFrequency of each catagorical columns  %s'%col)
    print(Market[col].value_counts())

Frequency of each catagorical columns  Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

Frequency of each catagorical columns  Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

Frequency of each catagorical columns  Outlet_Size
Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

Frequency of each catagorical columns  Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

Frequency of each catagorical columns  Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

### Note As we see in Item_Fat_Content same context of item type encoded with different values as Low fat, low fat, LF

# Identifying the Missing Values

# Determine the average weight per item:

In [494]:
item_avg_weight = Market.pivot_table(values='Item_Weight', index='Item_Identifier')
# sample filter with using loc 
# item_avg_weight.loc[item_avg_weight.Item_Weight == 11.600 ]
# item_avg_weight[item_avg_weight.Item_Weight == 11.600 ]
item_avg_weight

                 Item_Weight
Item_Identifier
DRA12                 11.600
DRA24                 19.350
DRA59                  8.270
DRB01                  7.390
DRB13                  6.115
...                      ...
NCZ30                  6.590
NCZ41                 19.850
NCZ42                 10.500
NCZ53                  9.600
NCZ54                 14.650

[1555 rows x 1 columns]

# Getting the Missing item values :

In [495]:
miss_bool = Market['Item_Weight'].isnull()

In [496]:
Market['Item_Weight'].isnull().head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9    False
Name: Item_Weight, dtype: bool

# Before an After imputation to confirmdata.loc[miss_bool,'Item_Identifier']
#  Pass the miss_bool  to loc that will fetch only True values

In [497]:
Market.loc[miss_bool,'Item_Identifier']

7       FDP10
18      DRI11
21      FDW12
23      FDC37
29      FDC14
        ...
8485    DRK37
8487    DRG13
8488    NCN14
8490    FDU44
8504    NCN18
Name: Item_Identifier, Length: 1463, dtype: object

In [424]:
print ('Original # Missing: %d' % sum(miss_bool))

Original # Missing: 1463

In [ ]:
Market.loc[miss_bool,'Item_Identifier']

In [ ]:
Item_Identifier

In [ ]:
Market.loc[miss_bool,'Item_Weight']
Market.loc[miss_bool,'Item_Identifier']

In [498]:
print ('Original # Missing: %d' % sum(miss_bool))
Market['Item_Weight'] = Market['Item_Weight'].fillna(Market['Item_Weight'].mean(0))
print ('Final # Missing: %d' % sum(Market['Item_Weight'].isnull()))

Original # Missing: 1463
Final # Missing: 0

In [500]:
# Impute the outlet size with mode of outlet size

# import mode function
from scipy.stats import mode

# Determiing the mode for each 

outlet_size_mode = Market.pivot_table(values='Outlet_Size',columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]))

In [501]:
Market.apply(lambda x:mode(x).mode[0])

Item_Identifier                              FDG33
Item_Weight                                12.8576
Item_Fat_Content                           Low Fat
Item_Visibility                                  0
Item_Type                    Fruits and Vegetables
Item_MRP                                   172.042
Outlet_Identifier                           OUT027
Outlet_Establishment_Year                     1985
Outlet_Size                                 Medium
Outlet_Location_Type                        Tier 3
Outlet_Type                      Supermarket Type1
Item_Outlet_Sales                          958.752
dtype: object

In [502]:
outlet_size_mode

Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
Outlet_Size,Small,Small,Medium,Medium

In [430]:
Market['Outlet_Type']

0       Supermarket Type1
1       Supermarket Type2
2       Supermarket Type1
3           Grocery Store
4       Supermarket Type1
              ...
8518    Supermarket Type1
8519    Supermarket Type1
8520    Supermarket Type1
8521    Supermarket Type2
8522    Supermarket Type1
Name: Outlet_Type, Length: 8523, dtype: object

In [503]:
print('Mode for each Outlet Type')
print (outlet_size_mode)

Mode for each Outlet Type
Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2  \
Outlet_Size         Small             Small            Medium

Outlet_Type Supermarket Type3
Outlet_Size            Medium

In [504]:
# Get the boolen variable specifying missing Outletsize values:
miss_bool = Market['Outlet_Size'].isnull()

In [436]:
miss_bool

0       False
1       False
2       False
3        True
4       False
        ...
8518    False
8519     True
8520    False
8521    False
8522    False
Name: Outlet_Size, Length: 8523, dtype: bool

In [505]:
#Impute data and check #MIssing values before and after imoutation to confirm 
print ('\n Original # Missing : %d' % sum(miss_bool))
Market.loc[miss_bool,'Outlet_Size'] = Market.loc[miss_bool,'Outlet_Type'].apply(lambda x: outlet_size_mode[x])
print (sum(Market['Outlet_Size'].isnull()))

 Original # Missing : 2410
0

In [506]:
# Super Market Type-1 and Type3 variables 
# if they have similar sales then keep them in seperate wont help much 

# Combining  the Outlet Type
Market.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')

# it shows significant difference between the Type1 , Type2 and Type3

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

In [507]:
# Step 2 Modify Item Visibility
# Determine average visibility of a product 
visibility_avg = Market.pivot_table(values='Item_Visibility',index='Item_Identifier')

In [508]:
visibility_avg

                 Item_Visibility
Item_Identifier
DRA12                   0.031956
DRA24                   0.048062
DRA59                   0.134718
DRB01                   0.082126
DRB13                   0.008002
...                          ...
NCZ30                   0.024956
NCZ41                   0.051623
NCZ42                   0.009044
NCZ53                   0.027775
NCZ54                   0.080426

[1559 rows x 1 columns]

In [509]:
#Impute 0 Values with mean visibility of that product :
miss_bool = (Market['Item_Visibility']==0)

In [461]:
miss_bool

0       False
1       False
2       False
3        True
4       False
        ...
8518    False
8519     True
8520    False
8521    False
8522    False
Name: Outlet_Size, Length: 8523, dtype: bool

In [510]:
print ('Number of 0 Values initially : %d' %sum(miss_bool))
Market.loc[Market.Item_Visibility == 0 , "Item_Visibility"] = Market["Item_Visibility"].mean()

#Market['Item_Visibility'] = Market['Item_Identifier'] == 0
print ('Number of 0 values after modification: %d'%sum(Market['Item_Visibility'] == 0))

Number of 0 Values initially : 526
Number of 0 values after modification: 0

In [511]:
visibility_avg['Item_Visibility']

Item_Identifier
DRA12    0.031956
DRA24    0.048062
DRA59    0.134718
DRB01    0.082126
DRB13    0.008002
           ...
NCZ30    0.024956
NCZ41    0.051623
NCZ42    0.009044
NCZ53    0.027775
NCZ54    0.080426
Name: Item_Visibility, Length: 1559, dtype: float64

In [512]:
#Determine another variable with means ratio
Market['Item_Visibility_MeanRatio'] = Market['Item_Visibility']/Market['Item_Visibility'].mean()
print (Market['Item_Visibility_MeanRatio'].describe())

count    8523.000000
mean        1.000000
std         0.694191
min         0.050912
25%         0.471211
50%         0.890380
75%         1.347112
max         4.677042
Name: Item_Visibility_MeanRatio, dtype: float64

# Step 3: Create a broad category of Type of Item

In [513]:
#Get the first two characters of ID:
Market['Item_Type_Combined'] = Market['Item_Identifier'].apply(lambda x: x[0:2])
#Rename them to more intuitive categories:
Market['Item_Type_Combined'] = Market['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})

# To combine the item type to item category:

Market['Item_Type_Combined'].value_counts()

Food              6125
Non-Consumable    1599
Drinks             799
Name: Item_Type_Combined, dtype: int64

In [514]:
# high average sales could be combined together. so that it becomes low and high of sales additional features for understandng the sales of each store.

Market['Item_Price_Category'] = Market['Item_Outlet_Sales'].apply(lambda x: 'Low' if x < Market['Item_Outlet_Sales'].mean() else 'High')

In [472]:
Market[['Item_Price_Category']]

     Item_Price_Category
0                   High
1                    Low
2                    Low
3                    Low
4                    Low
...                  ...
8518                High
8519                 Low
8520                 Low
8521                 Low
8522                 Low

[8523 rows x 1 columns]

# Step 4 Determine the years of operation of a store

In [515]:
#Years:
Market['Outlet_Years'] = 2013 - Market['Outlet_Establishment_Year']
Market['Outlet_Years'].describe()

count    8523.000000
mean       15.168133
std         8.371760
min         4.000000
25%         9.000000
50%        14.000000
75%        26.000000
max        28.000000
Name: Outlet_Years, dtype: float64

# Step 5: Modify categories of Item_Fat_Content

In [516]:
#Change categories of low fat:
print ('Original Categories:')
print (Market['Item_Fat_Content'].value_counts())

print ('\nModified Categories:')
Market['Item_Fat_Content'] = Market['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print (Market['Item_Fat_Content'].value_counts())

Original Categories:
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

Modified Categories:
Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [517]:
#Mark non-consumables as separate category from low_fat:
Market.loc[Market['Item_Type_Combined']=="Non-Consumable",'Item_Fat_Content'] = "Non-Edible"
Market['Item_Fat_Content'].value_counts()

Low Fat       3918
Regular       3006
Non-Edible    1599
Name: Item_Fat_Content, dtype: int64

####Step 6: Numerical and One-Hot Coding of Categorical variables
##### all categorical variables as numeric using ‘LabelEncoder’ from sklearn’s preprocessing module.

In [518]:
#Import library:

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#New variable for outlet
Market['Outlet'] = le.fit_transform(Market['Outlet_Identifier'])
var_mod = ['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet']
le = LabelEncoder()
for i in var_mod:
    Market[i] = le.fit_transform(Market[i])

In [520]:
#One Hot Coding:
Market = pd.get_dummies(Market, columns=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Outlet_Type',
                              'Item_Type_Combined','Outlet'])

In [534]:
Market.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Item_Outlet_Sales,Item_Visibility_MeanRatio,Item_Price_Category,Outlet_Years,Item_Fat_Content_0,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,FDA15,9.30,0.016047,249.8092,OUT049,3735.1380,0.228550,High,14,1,...,0,0,0,0,0,0,0,0,0,1
1,DRC01,5.92,0.019278,48.2692,OUT018,443.4228,0.274566,Low,4,0,...,0,0,0,1,0,0,0,0,0,0
2,FDN15,17.50,0.016760,141.6180,OUT049,2097.2700,0.238702,Low,14,1,...,0,0,0,0,0,0,0,0,0,1
3,FDX07,19.20,0.066132,182.0950,OUT010,732.3800,0.941872,Low,15,0,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.93,0.066132,53.8614,OUT013,994.7052,0.941872,Low,26,0,...,0,1,0,0,0,0,0,0,0,0

#  3 columns formed from Item_Fat_Content.

In [ ]:
Market[['Item_Fat_Content_0','Item_Fat_Content_1','Item_Fat_Content_2']].head(10)

# Step 7: Exporting Data

In [ ]:
#Drop the columns which have been converted to different types:
Market.drop(['Item_Type','Outlet_Establishment_Year'],axis=1,inplace=True)

#Divide into test and train:
Market.drop(['Item_Type','Outlet_Establishment_Year'],axis=1,inplace=True)

# Saving the Preprocesed data for EDA:
Market.to_csv("Market_ready.csv",index=False)